:root {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 1000px;
}

.container {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem;
}

.card {
  transform-style: preserve-3d;
  min-height: 70vh;
  width: 24rem;
  border-radius: 50px;
  padding: 3rem 2rem;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0 0 50px rgba(0, 0, 0, 0.2);
}

.sneaker {
  min-height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sneaker img {
  width: 15rem;
  z-index: 2;
  transition: all 0.75s ease-out;
}

.circle {
  width: 10rem;
  height: 10rem;
  background: linear-gradient(
    to right,
    #ED764D,
    #924D8B
  );
  position: absolute;
  border-radius: 50%;
  z-index: 1;
}

.info h1 {
  font-size: 2rem;
  transition: all 0.75s ease-out;
}

.info h3 {
  font-size: 1rem;
  padding: 1rem 0;
  color: #585855;
  font-weight: lighter;
  transition: all 0.75s ease-out;
}

.sizes {
  display: flex;
  justify-content: space-between;
  transition: all 0.75s ease-out;
}

.sizes button {
  padding: 0.5rem 2rem;
  background: none;
  border: none;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  cursor: pointer;
  font-weight: bold;
  color: #585855;
}

button.active {
  background: #585855;
  color: #FFFFFF;
}

.purchase {
  margin-top: 2rem;
  transition: all 0.75s ease-out;
}

.purchase button {
  width: 100%;
  padding: 1rem 0;
  background: #E95420;
  color: #FFFFFF;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  font-weight: bolder;
}